<div class="content welcome-page">
  <div class="carousel">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-image">
            <%= image_tag("danny_lee_hero.png")%>
          </div>
        </div>
        <div class="item">
          <div class="carousel-image">
            <%= image_tag("testimonial-1.jpg")%>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="hero-page clearfix">
    <div class="hero-page__profile--image">
      <%= image_tag("danny_lee_hero.png")%>
    </div>

    <div class="hero-page__profile--description">
      <div class="profile">
        <h1 class="profile__name">Danny Lee</h1>

        <h3 class="profile__tag">Orange County's #1 Personal Trainer</h3>

        <div class="profile__description">
          <p>Danny will help you burn fat and build muscle at the <strong class="highlight">SAME</strong> time.  He will show you exactly how to train, diet, and supplment your way to your goals</p>
        </div>
      </div>

      <div class="promo-video">
        <iframe src="http://player.vimeo.com/video/56072786" width="580" height="240"></iframe>
      </div>
    </div>
  </div>

  <div class="services clearfix">
    <h1 class="services__title">Our Services</h1>
    <%= render partial: "service", collection: @services, as: :item %>
  </div>

  <div class="client clearfix">
    <div class="client__description">
      <h1 class="client__description--title">We know Fitness.</h1>
      <p class="client__description--info">If you're tired of the same monotonous routine at your local gym or if you're sick of your current trainer who simply gives out instructions without any PERSONAL attention or care, then come try out one of our celebrity workouts!</p>
      <%= link_to "Learn More", root_path, class: "button learn-more" %>
    </div>

    <div class="client__image">
      <%= image_tag("testimonial-1.jpg")%>
    </div>
  </div>

  <div class="contact clearfix">
    <div class="contact__details">
      <div class="detail__image">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.653995322716!2d-117.85444869999999!3d33.6920224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcdeeaac871103%3A0x78eb6715596ce6b0!2sOC+Life+Fitness!5e0!3m2!1sen!2sus!4v1439585680963"></iframe>
        </div>
      </div>

      <div class="detail__question">
        <h1 class="question-header">get in touch</h2>
          <p class="question-info">We are always happy to hear from you so if you have any questions, comments, or inquiries please feel free to contact us at any time. We are available to serve your needs 24 hours/day 7 days a week.</p>
          <p class="question-info">We understand that some people prefer one method of communication over another. That's why we make it easy to get in touch with us.</p>
        </div>

        <div class="detail__address">
          <div class="detail__address--physical"></div>
          <div class="detail__address-online"></div>
        </div>
      </div>

    <div class="contact__form">
      <%= render partial: "contacts/form", object: @contact %>
    </div>
  </div>
</div>
