<!--################ WRAP START ################-->
<div id="wrap">
    <!--################ HEADER START ################-->
    <header data-stellar-background-ratio="0">
        <div class="container home">
            <div class="flexslider home">
                <ul class="slides">
                    <li>
                        <div class="col-md-7 animated fadeInLeftBig">
                            <%= image_tag("responsive.png") %>
                        </div>
                        <div class="col-md-4 margintop10p animated fadeInDownBig">
                            <h1><i class="icon-tablet"></i><i class="icon-mobile-phone"></i><i class="icon-desktop"></i>
                                <br />fully responsive</h1>
                        </div>
                    </li>
                    <li class="margin5">
                        <div class="col-md-6 animated fadeInLeftBig" id="main-media">
                            <iframe src="http://player.vimeo.com/video/56072786" width="580" height="240"></iframe>
                        </div>
                        <div class="col-md-5">
                            <h1>a complete parallex template for your needs</h1>
                        </div>
                    </li>
                    <li class="margintop10p">
                        <h1><i class="icon-eye-open icon-2x"></i>
                            <br />oh! did i mentioned, its retina ready...</h1>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--################ HEADER END ################-->
    <!--################ MAIN CONTAINER START ################-->
    <!--################ FEATURES SECTION START ################-->
    <section id="features" class="paddingtop20 features-home-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-muted">Our Services</h1>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.
                    </p>
                </div>
            </div>
            <div class="row">
                <!-- Feature -->
                <div class="col-md-6 feature-option-3">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="oi oi-phone icon-4x features-option-3-icon"></i>
                        </div>
                        <div class="col-md-8 feature-detail">
                            <h3>Full Responsive</h3>
                            <p>There are many variations of passages of generators on the embarrassing hidden in randomised words which don't look even.</p>
                        </div>
                    </div>
                </div>
                <!-- Feature -->
                <div class="col-md-6 feature-option-3">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="oi oi-eye icon-4x features-option-3-icon"></i>
                        </div>
                        <div class="col-md-8 feature-detail">
                            <h3>Retina Ready</h3>
                            <p>There are many variations of passages of generators on the embarrassing hidden in randomised words which don't look even.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Feature -->
                <div class="col-md-6 feature-option-3">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="oi oi-image icon-4x features-option-3-icon"></i>
                        </div>
                        <div class="col-md-8 feature-detail">
                            <h3>Parallax</h3>
                            <p>There are many variations of passages of generators on the embarrassing hidden in randomised words which don't look even.</p>
                        </div>
                    </div>
                </div>
                <!-- Feature -->
                <div class="col-md-6 feature-option-3">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="oi oi-lightbulb icon-4x features-option-3-icon"></i>
                        </div>
                        <div class="col-md-8 feature-detail">
                            <h3>Clean & Minimal</h3>
                            <p>There are many variations of passages of generators on the embarrassing hidden in randomised words which don't look even.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="latest-work">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h1>Latest Work</h1>
                    <h4 class="sub-heading">see some of our cool projects...</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="project art">
                        <%= image_tag("project1.jpg", class: "project-img") %>
                        <span class="overlay"></span>
                        <div class="cnt">
                            <h5>Image</h5>
                            <a href="images/project1.jpg" class="fancybox-media btn btn-purity" data-title-id="title-01">View details</a>
                        </div>
                        <div id="title-01" class="info hidden">
                            <h2>Image Detials</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="project web">
                        <%= image_tag("project2.jpg", class: "project-img") %>                            <span class="overlay"></span>
                        <div class="cnt">
                            <h5>Project</h5>
                            <a href="single-portfolio.html" class="fancybox-media btn btn-purity">View details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="project video">
                        <%= image_tag("project1.jpg", class: "project-img") %>
                        <span class="overlay"></span>
                        <div class="cnt">
                            <h5>Video</h5>
                            <a href="http://vimeo.com/24030911" class="fancybox-media btn btn-purity" data-title-id="title-03">View details</a>
                        </div>
                        <div id="title-03" class="info hidden">
                            <h2>Image Detials</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="project">
                        <%= image_tag("project2.jpg", class: "project-img") %>
                        <span class="overlay"></span>
                        <div class="cnt">
                            <h5>Project</h5>
                            <a href="portfolio-single.html" class="btn btn-purity">View details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index-description">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h1>Welcome to Purity</h1>
                    <h4 class="sub-heading">clean, responsive, parallax & retina ready</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <p>Purity is a clean, responsive, retina ready and a prallex template. You have 2 main version of the template. Single Page Tempalte & Multi Pages Template. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <br />
                        <br />Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="purity-list">
                        <ul>
                            <li>Desktop and Mobile Device (Phone + Tablet) Ready</li>
                            <li>Resonsive UI Design</li>
                            <li>Full HTML5 + CSS3 Animations</li>
                            <li>Old IE Support</li>
                            <li>Retina Ready</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 pull-right">
                    <div id="carousel_fade_2" class=" carousel slide carousel-fade">
                        <div class="carousel-inner ">
                            <div class="item  testimonial transparent active">
                                <%= image_tag("p1.png")%>
                                <h4>Fading Testimonials</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                            </div>
                            <div class="item  testimonial transparent">
                                <%= image_tag("p2.png")%>
                                <h4>Fading Testimonials</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                            </div>
                            <div class="item  testimonial transparent">
                                <%= image_tag("p3.png")%>
                                <h4>Fading Testimonials</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--################ BOTTOM SECTION START ################-->
    <section id="bottom" class="paddingbot20 paddingtop20">
        <div class="container">
            <div class="row center">
                <div class="as-seen">
                    <div class="col-md-2">
                        <%= image_tag("client-1.png")%>
                    </div>
                    <div class="col-md-2">
                        <%= image_tag("client-2.png")%>
                    </div>
                    <div class="col-md-2">
                        <%= image_tag("client-3.png")%>
                    </div>
                    <div class="col-md-2">
                        <%= image_tag("client-4.png")%>
                    </div>
                    <div class="col-md-2">
                        <%= image_tag("client-5.png")%>
                    </div>
                    <div class="col-md-2">
                        <%= image_tag("client-6.png")%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--################ BOTTOM SECTION END ################-->
</div>
<!--################ PUSH WILL KEEP THE FOOTER AT BOTTOM IF YOU WANT TO CREATE OTHER PAGES ################-->
<div id="push"></div>
<!--################ FOOTER START ################-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!--<h2>about us...</h2>-->
                <%= image_tag("logo2.gif")%>
                <p>
                    <br />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                <p class="copyright">
                    © 2014 Purity Bootstrap Template
                    <br />Built with BS3
                </p>
            </div>
            <div class="col-md-2">
                <h2>links</h2>
                <ul class="list-unstyled footer-links">
                    <li><a href="#" class="flink">About Us</a>
                    </li>
                    <li><a href="#" class="flink">The Team</a>
                    </li>
                    <li><a href="#" class="flink">Blog</a>
                    </li>
                    <li><a href="#" class="flink">Contact</a>
                    </li>
                    <li><a href="#" class="flink">Privacy Policy</a>
                    </li>
                    <li><a href="#" class="flink">Terms of Use</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>subscribe</h2>
                <a href="#" class="social-network sn2 behance"></a>
                <a href="#" class="social-network sn2 facebook"></a>
                <a href="#" class="social-network sn2 pinterest"></a>
                <a href="#" class="social-network sn2 flickr"></a>
                <a href="#" class="social-network sn2 dribbble"></a>
                <a href="#" class="social-network sn2 lastfm"></a>
                <a href="#" class="social-network sn2 forrst"></a>
                <a href="#" class="social-network sn2 xing"></a>
            </div>
            <div class="col-md-3">
                <h2 class="center"><i class="icon-twitter"></i>
                </h2>
                <div class="tweets" data-username="hunzaboy" data-count="2"></div>
            </div>
        </div>
    </div>
</footer>
<!--################ FOOTER END ################-->
<!-- ajax contact form script -->
<!-- mail.js -->

<!-- Preloader script -->
<script>
$(window).load(function() {
    "use strict";
    $('.preloading').fadeOut();
});
</script>


<!-- *************** RETINA JS FUNCTIONALITY   ****************
The script assumes you use Apple's prescribed high-resolution modifier (@2x) to denote
high-resolution image variants on your server.
For example, if you have an image on your page that looks like this:
<img src="/images/my_image.png" />
The script will check your server to see if an alternative image exists at this path:
"/images/my_image@2x.png"
That's it!
:)
RETINA JS END -->


<!-- REGISTER MODAL -->
<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create a new account...</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="signupName">Name</label>
                        <input type="text" class="form-control input-lg" id="signupName">
                    </div>
                    <div class="form-group">
                        <label for="signupEmail">Email</label>
                        <input type="email" class="form-control input-lg" id="signupEmail">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-purity btn-lg">Create New Account</button>
            </div>
        </div>
    </div>
</div>