<div class="content welcome-page">
  <div class="carousel">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-image">
            <%= image_tag("header5.jpg")%>
          </div>
        </div>
        <div class="item">
          <div class="carousel-image">
            <%= image_tag("header4.jpg")%>
          </div>
        </div>
        <div class="item">
          <div class="carousel-image">
            <%= image_tag("header9.png")%>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="services clearfix">
    <h1 class="services__title">Our Services</h1>
    <%= render partial: "service", collection: @services, as: :item %>
  </div>

  <div class="client clearfix">
    <div class="client__description">
      <h1 class="client__description--title">We know Fitness.</h1>
      <p class="client__description--info">If you're tired of the same monotonous routine at your local gym or if you're sick of your current trainer who simply gives out instructions without any PERSONAL attention or care, then come try out one of our celebrity workouts!</p>
      <%= link_to "Learn More", root_path, class: "button" %>
    </div>

    <div class="client__image">
      <%= image_tag("testimonial-1.jpg")%>
    </div>
  </div>

  <div class="testimonials clearfix">
    <h1 class="testimonials__title">Hear From Our Clients!</h1>
    <div class="testimonials__carousel-container">
      <div class="testimonials__carousel carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol style={display: 'none'} class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="carousel-image">
                <p>I trained with Danny for several months, and he is a great personal trainer. He definitely knows what he's talking about. He tells you what parts of your muscles that you're working out. He also pushes you to your maximal limits!</p>
              </div>
              <div class="testimonials__client">
                <h4 class="testimonials__full-name">Danny Lee</h4>
                <%= image_tag("logo2.gif")%>
              </div>
            </div>
            <div class="item">
              <div class="carousel-image">
                <p>He definitely knows what he's talking about. He tells you what parts of your muscles that you're working out. He also pushes you to your maximal limits!</p>
              </div>
              <div class="testimonials__client">
                <h4 class="testimonials__full-name">Danny Lee</h4>
                <%= image_tag("logo2.gif")%>
              </div>
            </div>
            <div class="item">
              <div class="carousel-image">
                <p>I trained with Danny for several months, and he is a great personal trainer. He definitely knows what he's talking about. He tells you what parts of your muscles that you're working out. He also pushes you to your maximal limits!</p>
              </div>
              <div class="testimonials__client">
                <h4 class="testimonials__full-name">Danny Lee</h4>
                <%= image_tag("logo2.gif")%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
