<!-- preloader -->
<div class="preloading">
  <%= link_to image_tag("fancy-loading.gif", class: "loading-gif"), root_path %>
</div>

<!--################ WRAP START ################-->
<div id="wrap">
<!--################ HEADER START ################-->
  <header data-stellar-background-ratio="0">
    <div class="container home">
      <div class="flexslider home">
        <ul class="slides">
          <li class="margin5">
            <div class="col-md-6 animated fadeInLeftBig" id="main-media">
              <iframe src="http://player.vimeo.com/video/56072786" width="580" height="240"></iframe>
            </div>
            
            <div class="col-md-5">
              <strong><h1>Are YOU ready to make a change?</h1></strong>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
    <!--################ HEADER END ################-->
    <!--################ MAIN CONTAINER START ################-->
    <!--################ FEATURES SECTION START ################-->
    <section id="features" class="paddingtop20 features-home-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-muted">Our Services</h1>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.
                    </p>
                </div>
            </div>
            <div class="row">
                <!-- Feature -->
                <div class="col-md-6 feature-option-3">
                    <div class="row">
                        <div class="col-md-2">
                            <%= image_tag("dumbbells3.png", class: "features-option-3-icon icon-image") %>
                        </div>
                        <div class="col-md-8 feature-detail">
                            <h3>Full Responsive</h3>
                            <p>There are many variations of passages of generators on the embarrassing hidden in randomised words which don't look even.</p>
                        </div>
                    </div>
                </div>
                <!-- Feature -->
                <div class="col-md-6 feature-option-3">
                    <div class="row">
                        <div class="col-md-2">
                            <%= image_tag("bald37.png", class: "features-option-3-icon icon-image") %>
                        </div>
                        <div class="col-md-8 feature-detail">
                            <h3>Retina Ready</h3>
                            <p>There are many variations of passages of generators on the embarrassing hidden in randomised words which don't look even.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Feature -->
                <div class="col-md-6 feature-option-3">
                    <div class="row">
                        <div class="col-md-2">
                            <%= image_tag("man429.png", class: "features-option-3-icon icon-image") %>
                        </div>
                        <div class="col-md-8 feature-detail">
                            <h3>Parallax</h3>
                            <p>There are many variations of passages of generators on the embarrassing hidden in randomised words which don't look even.</p>
                        </div>
                    </div>
                </div>
                <!-- Feature -->
                <div class="col-md-6 feature-option-3">
                    <div class="row">
                        <div class="col-md-2">
                            <%= image_tag("trophy56.png", class: "features-option-3-icon icon-image") %>
                        </div>
                        <div class="col-md-8 feature-detail">
                            <h3>Clean & Minimal</h3>
                            <p>There are many variations of passages of generators on the embarrassing hidden in randomised words which don't look even.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index-description">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h1>Welcome to OC Life Fitness</h1>
                    <h4 class="sub-heading">Let's get you fit</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <p>
                    OC Life Fitness is <strong>month-to-month.</strong> 
                    </p>
                    <p>
                    Everything at OC Life Fitness is month-to-month. Our view is that if you don't like the results you're seeing, why keep paying? We're confident that you'll like our program and we know that you'll like your new body. But if for whatever reason you don't, at least you know you can cancel at the end of each month. 
                    </p>
                    <p>
                    We're not here to take your money and run. We're here to improve your overall "you"... your body, your mind, your sexiness, your confidence...your celebrity in you!!                         
                    </p>
                    <p>
                    See for yourself why many consider us the # 1 Irvine personal trainer. Reviewed positively on Yelp, Google, and many other acclaimed companies. 
                    </p>
                    <p>
                    Come visit us for a free, no obligation, no sales pitch, no hassle personal training workout and see how DIFFERENT our approach is compared to what you're used to. We are the first and only personal training team to offer celebrity style workouts that are guaranteed to get you in shape and out of your funk. 
                    </p>
                    <p>
                    If you're tired of the same monotonous routine at your local gym or if you're sick of your current trainer who simply gives out instructions without any PERSONAL attention or care, then come try out one of our celebrity workouts! Absolutely free, no obligations! 
                    </p>
                    <p>
                    We love reviews and feedback!  Check out our Yelp <strong>below!</strong>
                    </p>
                    <center><%= link_to image_tag("yelp.png", class: "yelp"), "http://www.yelp.com/biz/oc-life-fitness-irvine-2", target: "_blank" %></center>
                </div>
                <div class="col-md-4 pull-right">
                    <div id="carousel_fade_2" class=" carousel slide carousel-fade">
                        <div class="carousel-inner">
                            <div class="item  testimonial transparent active">
                                <center><%= image_tag("image4.jpg", class: "client-image")%></center>
                                <h4>Client Testimonials</h4>
                                <p>I was a little hesitant at first working out with Danny. I was intimidated by his passion and knowledge for what he was doing.  After the first training session, though, I felt completely at ease. He let me go at my own pace, but pushed me when I needed it. He was always very encouraging and easy to talk to. The way that he knew exactly what to do when I described my goal to him was very cementing. I loved working out with him and encourage others to do the same!</p>
                            </div>
                            <div class="item  testimonial transparent">
                                <center><%= image_tag("image2.png", class: "client-image")%></center>
                                <h4>Fading Testimonials</h4>
                                <p>I trained with Danny a couple of times, and he is a great personal trainer. He definitely knows what he’s talking about. He tells you what parts of your muscles that you’re working out. He also pushes you to your maximal limits! He pushes you to the furthest you can go without hurting, straining, or pulling anything. He likes to make you feel comfortable in front of him, and he’s even funny too.  He's a great trainer and if you don't hire him then you won't get into shape the way you want. </p>
                            </div>
                            <div class="item  testimonial transparent">
                                <center><%= image_tag("image3.png", class: "client-image")%></center>
                                <h4>Fading Testimonials</h4>
                                <p> lost inches off my waist and my arms look better than ever! When I was introduced to Danny, I was a hesitant to try the workout because trainers in the past have never produced me the results I desired. He promised me that the workouts would be different and I was surprised and refreshed to see that it was. He was very easy to talk and comfortable to be around. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--################ PUSH WILL KEEP THE FOOTER AT BOTTOM IF YOU WANT TO CREATE OTHER PAGES ################-->
<div id="push"></div>
<!-- ajax contact form script -->
<!-- mail.js -->

<!-- Preloader script -->
<script>
$(window).load(function() {
    "use strict";
    $('.preloading').fadeOut();
});
</script>


<!-- *************** RETINA JS FUNCTIONALITY   ****************
The script assumes you use Apple's prescribed high-resolution modifier (@2x) to denote
high-resolution image variants on your server.
For example, if you have an image on your page that looks like this:
<img src="/images/my_image.png" />
The script will check your server to see if an alternative image exists at this path:
"/images/my_image@2x.png"
That's it!
:)
RETINA JS END -->


<!-- REGISTER MODAL -->
<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create a new account...</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="signupName">Name</label>
                        <input type="text" class="form-control input-lg" id="signupName">
                    </div>
                    <div class="form-group">
                        <label for="signupEmail">Email</label>
                        <input type="email" class="form-control input-lg" id="signupEmail">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-purity btn-lg">Create New Account</button>
            </div>
        </div>
    </div>
</div>