<%= form_for @contact do |f| %>
<%= image_tag("logo.gif")%>
<div class="form-group">
  <%= f.text_field :name, :class => "form-control input-lg", id: "name", placeholder: "Your Name" %>
</div>

<div class="form-group">
  <%= f.text_field :email, :class => "form-control input-lg", id: "email", placeholder: "Your Email"%>
</div>

<div class="form-group">
  <%= f.text_area :message, :class => "form-control input-lg", id: "message", rows: 10, placeholder: "Leave Us A Message About What You Would Like To Accomplish!" %>
</div>

<div class= "hidden">
  <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
</div>

<div class="form-group">
<%= f.submit "Send", :class => "btn btn-purity btn-lg btn-block", id: "submit_btn" %>
</div>

<% end %>
