<%= form_for @testimonial do |f| %>
  <% if @testimonial.errors.any? %>
    <h2><%= pluralize(@testimonial.errors.count, "error")%> prevented this testimonial from saving: </h2>
    <ul>
      <% @testimonial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <br>
  <br>

  <%= f.label :image, "Image" %> <br>
  <%= f.file_field :image %>

  <br>
  <br>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <br>
  <br>

  <%= f.submit "Submit" %>

  <br>
  <br>
  <br>
<% end %>