<!DOCTYPE html>
<html>
<head>
  <title>Oclifefitness</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="ico/favicon.png">
</head>
<body>

<!-- preloader -->
<div class="preloading">
  <%= image_tag("fancy-loading.gif", class: "loading-gif") %>
</div>

<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top navbar-purity" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#">
      <%= image_tag("logo.gif", size: "150x45", id: "logokhan") %>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="index-1.html">Home Default</a>
              </li>
              <li><a href="index-2.html">Home Services</a>
              </li>
              <li><a href="index-3.html">Home Showcase</a>
              </li>
          </ul>
      </li>
      
      <li><a href="features.html">Features</a></li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="services.html">Services</a>
            </li>
            <li><a href="pricing.html">Pricing</a>
            </li>
            <li><a href="gallery.html">Gallery</a>
            </li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="blog.html">Blog Page</a>
            </li>
            <li><a href="single-blog.html">Single Post</a>
            </li>
        </ul>
      </li>
      
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="portfolio.html">Portfolio Page</a>
              </li>
              <li><a href="single-portfolio.html">Single Project</a>
              </li>
          </ul>
      </li>
      
      <li><a href="contact.html">Contact Us</a></li>
      
      <li class="">
          <a data-toggle="modal" href="#signUpModal" class="">Sign Up</a>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
          <div class="dropdown-menu" style="padding: 15px;">
            <form role="form" class="form-menu">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="checkbox">
                <label class="text-muted">
                  <input type="checkbox">Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-block btn-purity">Submit</button>
            </form>
          </div>
      </li>
    </ul>
    </div>
    </div>
  </nav>
</div>
<!--################ NAVIGATION END ################-->

<%= yield %>

</body>
</html>