<!DOCTYPE html>
<html>
<head>
  <title>Oclifefitness</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="ico/favicon.png">
</head>
<body>

<!-- preloader -->
<div class="preloading">
  <%= link_to image_tag("fancy-loading.gif", class: "loading-gif"), root_path %>
</div>

<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top navbar-purity" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#">
      <%= image_tag("logo2.gif", size: "150x45", id: "logokhan") %>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="features.html">ABOUT DANNY</a></li>
      <li><a href="features.html">SERVICES</a></li>
      <li><a href="features.html">TESTIMONIALS</a></li>
      <li><a href="contact.html">CONTACT</a></li>   
    </ul>
    </div>
  </div>
  </nav>
</div>
<!--################ NAVIGATION END ################-->

<%= yield %>

</body>
</html>